{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Settings
{% endblock title %}


{% block navbar %}

{%  include 'navbar.html' %}

{% endblock navbar %}

{% block content %}
<h1 class="justify-content-center d-flex mt-4">Guide</h1>

<div class="justify-content-center text-center  mt-4">
<br>
<div>
<h3>To check your test result </h3>
<p>Click to Test Result in Nav-Bar</p>
</div>
<br>
  <div>
<br>


<h3>To send Email </h3>
<p>Click to Send Email/New Email  in Nav-Bar</p>
  </div>

<div>
<br>
  <br>
<h3>To check all drugs </h3>
<p>Go to Home Page</p>
<br>
  </div>

  </div>
{% endblock content %}